/* PARTICLES */
.bottom-particles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.bottom-particles .bubble {
  opacity: 0;
  position: absolute;
  bottom: -1rem;
  width: 1rem;
  height: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.bottom-particles .bubble:nth-child(1) {
  left: 56%;
  animation: blow 6341ms infinite;
  animation-delay: 10882ms;
}
.bottom-particles .bubble:nth-child(2) {
  left: 50%;
  animation: blow 12172ms infinite;
  animation-delay: 9581ms;
}
.bottom-particles .bubble:nth-child(3) {
  left: 21%;
  animation: blow 14565ms infinite;
  animation-delay: 11308ms;
}
.bottom-particles .bubble:nth-child(4) {
  left: 50%;
  animation: blow 14160ms infinite;
  animation-delay: 11212ms;
}
.bottom-particles .bubble:nth-child(5) {
  left: 33%;
  animation: blow 5000ms infinite;
  animation-delay: 6826ms;
}
.bottom-particles .bubble:nth-child(6) {
  left: 30%;
  animation: blow 10976ms infinite;
  animation-delay: 620ms;
}
.bottom-particles .bubble:nth-child(7) {
  left: 42%;
  animation: blow 5000ms infinite;
  animation-delay: 1696ms;
}
.bottom-particles .bubble:nth-child(8) {
  left: 39%;
  animation: blow 6475ms infinite;
  animation-delay: 11207ms;
}
.bottom-particles .bubble:nth-child(9) {
  left: 11%;
  animation: blow 5000ms infinite;
  animation-delay: 10864ms;
}
.bottom-particles .bubble:nth-child(10) {
  left: 67%;
  animation: blow 11053ms infinite;
  animation-delay: 1757ms;
}
.bottom-particles .bubble:nth-child(11) {
  left: 76%;
  animation: blow 5000ms infinite;
  animation-delay: 4553ms;
}
.bottom-particles .bubble:nth-child(12) {
  left: 35%;
  animation: blow 9529ms infinite;
  animation-delay: 10438ms;
}
.bottom-particles .bubble:nth-child(13) {
  left: 24%;
  animation: blow 12091ms infinite;
  animation-delay: 906ms;
}
.bottom-particles .bubble:nth-child(14) {
  left: 67%;
  animation: blow 8114ms infinite;
  animation-delay: 11222ms;
}
.bottom-particles .bubble:nth-child(15) {
  left: 39%;
  animation: blow 14761ms infinite;
  animation-delay: 11659ms;
}
.bottom-particles .bubble:nth-child(16) {
  left: 59%;
  animation: blow 5000ms infinite;
  animation-delay: 2747ms;
}
.bottom-particles .bubble:nth-child(17) {
  left: 100%;
  animation: blow 9418ms infinite;
  animation-delay: 9708ms;
}
.bottom-particles .bubble:nth-child(18) {
  left: 44%;
  animation: blow 5000ms infinite;
  animation-delay: 10287ms;
}
.bottom-particles .bubble:nth-child(19) {
  left: 8%;
  animation: blow 12651ms infinite;
  animation-delay: 11827ms;
}
.bottom-particles .bubble:nth-child(20) {
  left: 92%;
  animation: blow 6071ms infinite;
  animation-delay: 7178ms;
}
.bottom-particles .bubble:nth-child(21) {
  left: 26%;
  animation: blow 10986ms infinite;
  animation-delay: 6120ms;
}
.bottom-particles .bubble:nth-child(22) {
  left: 33%;
  animation: blow 5456ms infinite;
  animation-delay: 5595ms;
}
.bottom-particles .bubble:nth-child(23) {
  left: 3%;
  animation: blow 11689ms infinite;
  animation-delay: 5618ms;
}
.bottom-particles .bubble:nth-child(24) {
  left: 8%;
  animation: blow 5000ms infinite;
  animation-delay: 786ms;
}
.bottom-particles .bubble:nth-child(25) {
  left: 63%;
  animation: blow 7191ms infinite;
  animation-delay: 5061ms;
}
.bottom-particles .bubble:nth-child(26) {
  left: 74%;
  animation: blow 8441ms infinite;
  animation-delay: 9235ms;
}
.bottom-particles .bubble:nth-child(27) {
  left: 57%;
  animation: blow 5000ms infinite;
  animation-delay: 4583ms;
}
.bottom-particles .bubble:nth-child(28) {
  left: 54%;
  animation: blow 8790ms infinite;
  animation-delay: 482ms;
}
.bottom-particles .bubble:nth-child(29) {
  left: 45%;
  animation: blow 10815ms infinite;
  animation-delay: 6732ms;
}
.bottom-particles .bubble:nth-child(30) {
  left: 48%;
  animation: blow 5000ms infinite;
  animation-delay: 4054ms;
}
.bottom-particles .bubble:nth-child(31) {
  left: 67%;
  animation: blow 5000ms infinite;
  animation-delay: 666ms;
}
.bottom-particles .bubble:nth-child(32) {
  left: 50%;
  animation: blow 7270ms infinite;
  animation-delay: 3436ms;
}
.bottom-particles .bubble:nth-child(33) {
  left: 27%;
  animation: blow 11486ms infinite;
  animation-delay: 2005ms;
}
.bottom-particles .bubble:nth-child(34) {
  left: 55%;
  animation: blow 5000ms infinite;
  animation-delay: 5700ms;
}
.bottom-particles .bubble:nth-child(35) {
  left: 100%;
  animation: blow 5000ms infinite;
  animation-delay: 10385ms;
}
.bottom-particles .bubble:nth-child(36) {
  left: 35%;
  animation: blow 5000ms infinite;
  animation-delay: 9654ms;
}
.bottom-particles .bubble:nth-child(37) {
  left: 77%;
  animation: blow 6351ms infinite;
  animation-delay: 10357ms;
}
.bottom-particles .bubble:nth-child(38) {
  left: 39%;
  animation: blow 5000ms infinite;
  animation-delay: 3109ms;
}
.bottom-particles .bubble:nth-child(39) {
  left: 32%;
  animation: blow 10838ms infinite;
  animation-delay: 6983ms;
}
.bottom-particles .bubble:nth-child(40) {
  left: 11%;
  animation: blow 6135ms infinite;
  animation-delay: 6288ms;
}
.bottom-particles .bubble:nth-child(41) {
  left: 42%;
  animation: blow 14739ms infinite;
  animation-delay: 5902ms;
}
.bottom-particles .bubble:nth-child(42) {
  left: 85%;
  animation: blow 11325ms infinite;
  animation-delay: 1000ms;
}
.bottom-particles .bubble:nth-child(43) {
  left: 41%;
  animation: blow 7068ms infinite;
  animation-delay: 6218ms;
}
.bottom-particles .bubble:nth-child(44) {
  left: 6%;
  animation: blow 7271ms infinite;
  animation-delay: 5528ms;
}
.bottom-particles .bubble:nth-child(45) {
  left: 90%;
  animation: blow 8082ms infinite;
  animation-delay: 7962ms;
}
.bottom-particles .bubble:nth-child(46) {
  left: 95%;
  animation: blow 12229ms infinite;
  animation-delay: 190ms;
}
.bottom-particles .bubble:nth-child(47) {
  left: 17%;
  animation: blow 14394ms infinite;
  animation-delay: 8925ms;
}
.bottom-particles .bubble:nth-child(48) {
  left: 62%;
  animation: blow 10129ms infinite;
  animation-delay: 3094ms;
}
.bottom-particles .bubble:nth-child(49) {
  left: 3%;
  animation: blow 11161ms infinite;
  animation-delay: 10760ms;
}
.bottom-particles .bubble:nth-child(50) {
  left: 59%;
  animation: blow 6686ms infinite;
  animation-delay: 4583ms;
}
.bottom-particles .bubble:nth-child(51) {
  left: 73%;
  animation: blow 13063ms infinite;
  animation-delay: 2909ms;
}
.bottom-particles .bubble:nth-child(52) {
  left: 12%;
  animation: blow 5238ms infinite;
  animation-delay: 986ms;
}
.bottom-particles .bubble:nth-child(53) {
  left: 40%;
  animation: blow 8215ms infinite;
  animation-delay: 3480ms;
}
.bottom-particles .bubble:nth-child(54) {
  left: 27%;
  animation: blow 14014ms infinite;
  animation-delay: 8525ms;
}
.bottom-particles .bubble:nth-child(55) {
  left: 55%;
  animation: blow 5000ms infinite;
  animation-delay: 2945ms;
}
.bottom-particles .bubble:nth-child(56) {
  left: 22%;
  animation: blow 11335ms infinite;
  animation-delay: 6276ms;
}
.bottom-particles .bubble:nth-child(57) {
  left: 51%;
  animation: blow 13309ms infinite;
  animation-delay: 6783ms;
}
.bottom-particles .bubble:nth-child(58) {
  left: 49%;
  animation: blow 5000ms infinite;
  animation-delay: 11559ms;
}
.bottom-particles .bubble:nth-child(59) {
  left: 1%;
  animation: blow 5000ms infinite;
  animation-delay: 6196ms;
}
.bottom-particles .bubble:nth-child(60) {
  left: 1%;
  animation: blow 5000ms infinite;
  animation-delay: 3424ms;
}
.bottom-particles .bubble:nth-child(61) {
  left: 90%;
  animation: blow 8155ms infinite;
  animation-delay: 11719ms;
}
.bottom-particles .bubble:nth-child(62) {
  left: 16%;
  animation: blow 5523ms infinite;
  animation-delay: 5406ms;
}
.bottom-particles .bubble:nth-child(63) {
  left: 39%;
  animation: blow 11820ms infinite;
  animation-delay: 4592ms;
}
.bottom-particles .bubble:nth-child(64) {
  left: 53%;
  animation: blow 13107ms infinite;
  animation-delay: 2796ms;
}
.bottom-particles .bubble:nth-child(65) {
  left: 92%;
  animation: blow 5000ms infinite;
  animation-delay: 6517ms;
}
.bottom-particles .bubble:nth-child(66) {
  left: 57%;
  animation: blow 12428ms infinite;
  animation-delay: 7212ms;
}
.bottom-particles .bubble:nth-child(67) {
  left: 50%;
  animation: blow 5000ms infinite;
  animation-delay: 8562ms;
}
.bottom-particles .bubble:nth-child(68) {
  left: 42%;
  animation: blow 12399ms infinite;
  animation-delay: 11991ms;
}
.bottom-particles .bubble:nth-child(69) {
  left: 22%;
  animation: blow 8627ms infinite;
  animation-delay: 8672ms;
}
.bottom-particles .bubble:nth-child(70) {
  left: 10%;
  animation: blow 13558ms infinite;
  animation-delay: 4736ms;
}
.bottom-particles .bubble:nth-child(71) {
  left: 4%;
  animation: blow 13701ms infinite;
  animation-delay: 11145ms;
}
.bottom-particles .bubble:nth-child(72) {
  left: 30%;
  animation: blow 13283ms infinite;
  animation-delay: 6784ms;
}
.bottom-particles .bubble:nth-child(73) {
  left: 39%;
  animation: blow 6613ms infinite;
  animation-delay: 972ms;
}
.bottom-particles .bubble:nth-child(74) {
  left: 68%;
  animation: blow 13617ms infinite;
  animation-delay: 11961ms;
}
.bottom-particles .bubble:nth-child(75) {
  left: 53%;
  animation: blow 13164ms infinite;
  animation-delay: 4190ms;
}
.bottom-particles .bubble:nth-child(76) {
  left: 97%;
  animation: blow 5000ms infinite;
  animation-delay: 6356ms;
}
.bottom-particles .bubble:nth-child(77) {
  left: 49%;
  animation: blow 5000ms infinite;
  animation-delay: 4738ms;
}
.bottom-particles .bubble:nth-child(78) {
  left: 50%;
  animation: blow 5614ms infinite;
  animation-delay: 7347ms;
}
.bottom-particles .bubble:nth-child(79) {
  left: 94%;
  animation: blow 5000ms infinite;
  animation-delay: 10224ms;
}
.bottom-particles .bubble:nth-child(80) {
  left: 61%;
  animation: blow 7560ms infinite;
  animation-delay: 9268ms;
}
.bottom-particles .bubble:nth-child(81) {
  left: 12%;
  animation: blow 10758ms infinite;
  animation-delay: 3574ms;
}
.bottom-particles .bubble:nth-child(82) {
  left: 93%;
  animation: blow 14981ms infinite;
  animation-delay: 10246ms;
}
.bottom-particles .bubble:nth-child(83) {
  left: 41%;
  animation: blow 11651ms infinite;
  animation-delay: 497ms;
}
.bottom-particles .bubble:nth-child(84) {
  left: 31%;
  animation: blow 5000ms infinite;
  animation-delay: 11592ms;
}
.bottom-particles .bubble:nth-child(85) {
  left: 37%;
  animation: blow 6440ms infinite;
  animation-delay: 3440ms;
}
.bottom-particles .bubble:nth-child(86) {
  left: 88%;
  animation: blow 7861ms infinite;
  animation-delay: 10001ms;
}
.bottom-particles .bubble:nth-child(87) {
  left: 78%;
  animation: blow 5000ms infinite;
  animation-delay: 11728ms;
}
.bottom-particles .bubble:nth-child(88) {
  left: 76%;
  animation: blow 12194ms infinite;
  animation-delay: 8239ms;
}
.bottom-particles .bubble:nth-child(89) {
  left: 88%;
  animation: blow 5000ms infinite;
  animation-delay: 10404ms;
}
.bottom-particles .bubble:nth-child(90) {
  left: 68%;
  animation: blow 10713ms infinite;
  animation-delay: 3255ms;
}
.bottom-particles .bubble:nth-child(91) {
  left: 63%;
  animation: blow 5000ms infinite;
  animation-delay: 10037ms;
}
.bottom-particles .bubble:nth-child(92) {
  left: 47%;
  animation: blow 12215ms infinite;
  animation-delay: 5484ms;
}
.bottom-particles .bubble:nth-child(93) {
  left: 4%;
  animation: blow 5000ms infinite;
  animation-delay: 11658ms;
}
.bottom-particles .bubble:nth-child(94) {
  left: 28%;
  animation: blow 5000ms infinite;
  animation-delay: 9647ms;
}
.bottom-particles .bubble:nth-child(95) {
  left: 82%;
  animation: blow 5574ms infinite;
  animation-delay: 11819ms;
}
.bottom-particles .bubble:nth-child(96) {
  left: 36%;
  animation: blow 7038ms infinite;
  animation-delay: 10560ms;
}
.bottom-particles .bubble:nth-child(97) {
  left: 10%;
  animation: blow 11626ms infinite;
  animation-delay: 3090ms;
}
.bottom-particles .bubble:nth-child(98) {
  left: 97%;
  animation: blow 10823ms infinite;
  animation-delay: 1961ms;
}
.bottom-particles .bubble:nth-child(99) {
  left: 76%;
  animation: blow 9922ms infinite;
  animation-delay: 2351ms;
}
.bottom-particles .bubble:nth-child(100) {
  left: 57%;
  animation: blow 10098ms infinite;
  animation-delay: 955ms;
}
.bottom-particles .bubble:nth-child(101) {
  left: 45%;
  animation: blow 5000ms infinite;
  animation-delay: 11837ms;
}
.bottom-particles .bubble:nth-child(102) {
  left: 7%;
  animation: blow 12813ms infinite;
  animation-delay: 2483ms;
}
.bottom-particles .bubble:nth-child(103) {
  left: 23%;
  animation: blow 14964ms infinite;
  animation-delay: 972ms;
}
.bottom-particles .bubble:nth-child(104) {
  left: 25%;
  animation: blow 5000ms infinite;
  animation-delay: 11738ms;
}
.bottom-particles .bubble:nth-child(105) {
  left: 77%;
  animation: blow 5000ms infinite;
  animation-delay: 1201ms;
}
.bottom-particles .bubble:nth-child(106) {
  left: 27%;
  animation: blow 11722ms infinite;
  animation-delay: 295ms;
}
.bottom-particles .bubble:nth-child(107) {
  left: 31%;
  animation: blow 5000ms infinite;
  animation-delay: 3772ms;
}
.bottom-particles .bubble:nth-child(108) {
  left: 95%;
  animation: blow 5708ms infinite;
  animation-delay: 7467ms;
}
.bottom-particles .bubble:nth-child(109) {
  left: 49%;
  animation: blow 5149ms infinite;
  animation-delay: 6842ms;
}
.bottom-particles .bubble:nth-child(110) {
  left: 42%;
  animation: blow 7287ms infinite;
  animation-delay: 4180ms;
}
.bottom-particles .bubble:nth-child(111) {
  left: 55%;
  animation: blow 5787ms infinite;
  animation-delay: 3793ms;
}
.bottom-particles .bubble:nth-child(112) {
  left: 91%;
  animation: blow 5000ms infinite;
  animation-delay: 11106ms;
}
.bottom-particles .bubble:nth-child(113) {
  left: 19%;
  animation: blow 13397ms infinite;
  animation-delay: 8502ms;
}
.bottom-particles .bubble:nth-child(114) {
  left: 45%;
  animation: blow 5000ms infinite;
  animation-delay: 5449ms;
}
.bottom-particles .bubble:nth-child(115) {
  left: 80%;
  animation: blow 5000ms infinite;
  animation-delay: 6171ms;
}
.bottom-particles .bubble:nth-child(116) {
  left: 36%;
  animation: blow 7401ms infinite;
  animation-delay: 11775ms;
}
.bottom-particles .bubble:nth-child(117) {
  left: 57%;
  animation: blow 5000ms infinite;
  animation-delay: 2173ms;
}
.bottom-particles .bubble:nth-child(118) {
  left: 53%;
  animation: blow 12628ms infinite;
  animation-delay: 7542ms;
}
.bottom-particles .bubble:nth-child(119) {
  left: 33%;
  animation: blow 5000ms infinite;
  animation-delay: 30ms;
}
.bottom-particles .bubble:nth-child(120) {
  left: 12%;
  animation: blow 14295ms infinite;
  animation-delay: 931ms;
}
.bottom-particles .bubble:nth-child(121) {
  left: 9%;
  animation: blow 12039ms infinite;
  animation-delay: 10395ms;
}
.bottom-particles .bubble:nth-child(122) {
  left: 70%;
  animation: blow 12491ms infinite;
  animation-delay: 11626ms;
}
.bottom-particles .bubble:nth-child(123) {
  left: 81%;
  animation: blow 9880ms infinite;
  animation-delay: 11367ms;
}
.bottom-particles .bubble:nth-child(124) {
  left: 60%;
  animation: blow 8835ms infinite;
  animation-delay: 1334ms;
}
.bottom-particles .bubble:nth-child(125) {
  left: 78%;
  animation: blow 12084ms infinite;
  animation-delay: 2355ms;
}
.bottom-particles .bubble:nth-child(126) {
  left: 23%;
  animation: blow 5000ms infinite;
  animation-delay: 2011ms;
}
.bottom-particles .bubble:nth-child(127) {
  left: 75%;
  animation: blow 9411ms infinite;
  animation-delay: 4658ms;
}
.bottom-particles .bubble:nth-child(128) {
  left: 18%;
  animation: blow 6884ms infinite;
  animation-delay: 11368ms;
}
.bottom-particles .bubble:nth-child(129) {
  left: 26%;
  animation: blow 5871ms infinite;
  animation-delay: 7741ms;
}
.bottom-particles .bubble:nth-child(130) {
  left: 20%;
  animation: blow 9581ms infinite;
  animation-delay: 5949ms;
}
.bottom-particles .bubble:nth-child(131) {
  left: 38%;
  animation: blow 5000ms infinite;
  animation-delay: 1076ms;
}
.bottom-particles .bubble:nth-child(132) {
  left: 94%;
  animation: blow 8752ms infinite;
  animation-delay: 104ms;
}
.bottom-particles .bubble:nth-child(133) {
  left: 49%;
  animation: blow 10953ms infinite;
  animation-delay: 4154ms;
}
.bottom-particles .bubble:nth-child(134) {
  left: 69%;
  animation: blow 7803ms infinite;
  animation-delay: 10217ms;
}
.bottom-particles .bubble:nth-child(135) {
  left: 96%;
  animation: blow 13270ms infinite;
  animation-delay: 5534ms;
}
.bottom-particles .bubble:nth-child(136) {
  left: 35%;
  animation: blow 5000ms infinite;
  animation-delay: 2899ms;
}
.bottom-particles .bubble:nth-child(137) {
  left: 96%;
  animation: blow 11738ms infinite;
  animation-delay: 8573ms;
}
.bottom-particles .bubble:nth-child(138) {
  left: 40%;
  animation: blow 11854ms infinite;
  animation-delay: 8222ms;
}
.bottom-particles .bubble:nth-child(139) {
  left: 26%;
  animation: blow 5000ms infinite;
  animation-delay: 1526ms;
}
.bottom-particles .bubble:nth-child(140) {
  left: 58%;
  animation: blow 5246ms infinite;
  animation-delay: 5952ms;
}
.bottom-particles .bubble:nth-child(141) {
  left: 29%;
  animation: blow 10862ms infinite;
  animation-delay: 6680ms;
}
.bottom-particles .bubble:nth-child(142) {
  left: 5%;
  animation: blow 5000ms infinite;
  animation-delay: 693ms;
}
.bottom-particles .bubble:nth-child(143) {
  left: 76%;
  animation: blow 5000ms infinite;
  animation-delay: 11719ms;
}
.bottom-particles .bubble:nth-child(144) {
  left: 57%;
  animation: blow 5000ms infinite;
  animation-delay: 10528ms;
}
.bottom-particles .bubble:nth-child(145) {
  left: 54%;
  animation: blow 10060ms infinite;
  animation-delay: 1399ms;
}
.bottom-particles .bubble:nth-child(146) {
  left: 22%;
  animation: blow 10455ms infinite;
  animation-delay: 6490ms;
}
.bottom-particles .bubble:nth-child(147) {
  left: 97%;
  animation: blow 10267ms infinite;
  animation-delay: 4198ms;
}
.bottom-particles .bubble:nth-child(148) {
  left: 82%;
  animation: blow 11515ms infinite;
  animation-delay: 4524ms;
}
.bottom-particles .bubble:nth-child(149) {
  left: 18%;
  animation: blow 5000ms infinite;
  animation-delay: 2914ms;
}
.bottom-particles .bubble:nth-child(150) {
  left: 66%;
  animation: blow 12165ms infinite;
  animation-delay: 9940ms;
}
.bottom-particles .bubble:nth-child(151) {
  left: 11%;
  animation: blow 12106ms infinite;
  animation-delay: 4631ms;
}
.bottom-particles .bubble:nth-child(152) {
  left: 25%;
  animation: blow 5000ms infinite;
  animation-delay: 164ms;
}
.bottom-particles .bubble:nth-child(153) {
  left: 56%;
  animation: blow 5000ms infinite;
  animation-delay: 5608ms;
}
.bottom-particles .bubble:nth-child(154) {
  left: 74%;
  animation: blow 11485ms infinite;
  animation-delay: 10672ms;
}
.bottom-particles .bubble:nth-child(155) {
  left: 69%;
  animation: blow 11277ms infinite;
  animation-delay: 10563ms;
}
.bottom-particles .bubble:nth-child(156) {
  left: 98%;
  animation: blow 5000ms infinite;
  animation-delay: 7872ms;
}
.bottom-particles .bubble:nth-child(157) {
  left: 19%;
  animation: blow 5000ms infinite;
  animation-delay: 5764ms;
}
.bottom-particles .bubble:nth-child(158) {
  left: 67%;
  animation: blow 13321ms infinite;
  animation-delay: 4570ms;
}
.bottom-particles .bubble:nth-child(159) {
  left: 51%;
  animation: blow 5000ms infinite;
  animation-delay: 3901ms;
}
.bottom-particles .bubble:nth-child(160) {
  left: 68%;
  animation: blow 5000ms infinite;
  animation-delay: 1347ms;
}
.bottom-particles .bubble:nth-child(161) {
  left: 81%;
  animation: blow 14150ms infinite;
  animation-delay: 5013ms;
}
.bottom-particles .bubble:nth-child(162) {
  left: 71%;
  animation: blow 6904ms infinite;
  animation-delay: 10931ms;
}
.bottom-particles .bubble:nth-child(163) {
  left: 30%;
  animation: blow 9189ms infinite;
  animation-delay: 11637ms;
}
.bottom-particles .bubble:nth-child(164) {
  left: 79%;
  animation: blow 14577ms infinite;
  animation-delay: 8664ms;
}
.bottom-particles .bubble:nth-child(165) {
  left: 57%;
  animation: blow 6331ms infinite;
  animation-delay: 5309ms;
}
.bottom-particles .bubble:nth-child(166) {
  left: 83%;
  animation: blow 5000ms infinite;
  animation-delay: 10936ms;
}
.bottom-particles .bubble:nth-child(167) {
  left: 95%;
  animation: blow 10876ms infinite;
  animation-delay: 957ms;
}
.bottom-particles .bubble:nth-child(168) {
  left: 81%;
  animation: blow 5000ms infinite;
  animation-delay: 11404ms;
}
.bottom-particles .bubble:nth-child(169) {
  left: 23%;
  animation: blow 5795ms infinite;
  animation-delay: 3476ms;
}
.bottom-particles .bubble:nth-child(170) {
  left: 47%;
  animation: blow 7046ms infinite;
  animation-delay: 11178ms;
}
.bottom-particles .bubble:nth-child(171) {
  left: 3%;
  animation: blow 5000ms infinite;
  animation-delay: 4272ms;
}
.bottom-particles .bubble:nth-child(172) {
  left: 39%;
  animation: blow 5000ms infinite;
  animation-delay: 3371ms;
}
.bottom-particles .bubble:nth-child(173) {
  left: 29%;
  animation: blow 5000ms infinite;
  animation-delay: 4984ms;
}
.bottom-particles .bubble:nth-child(174) {
  left: 76%;
  animation: blow 11278ms infinite;
  animation-delay: 10547ms;
}
.bottom-particles .bubble:nth-child(175) {
  left: 88%;
  animation: blow 14855ms infinite;
  animation-delay: 1741ms;
}
.bottom-particles .bubble:nth-child(176) {
  left: 61%;
  animation: blow 12642ms infinite;
  animation-delay: 1975ms;
}
.bottom-particles .bubble:nth-child(177) {
  left: 11%;
  animation: blow 10173ms infinite;
  animation-delay: 5989ms;
}
.bottom-particles .bubble:nth-child(178) {
  left: 60%;
  animation: blow 11045ms infinite;
  animation-delay: 10050ms;
}
.bottom-particles .bubble:nth-child(179) {
  left: 60%;
  animation: blow 7573ms infinite;
  animation-delay: 7007ms;
}
.bottom-particles .bubble:nth-child(180) {
  left: 30%;
  animation: blow 8425ms infinite;
  animation-delay: 11321ms;
}
.bottom-particles .bubble:nth-child(181) {
  left: 16%;
  animation: blow 7753ms infinite;
  animation-delay: 9529ms;
}
.bottom-particles .bubble:nth-child(182) {
  left: 22%;
  animation: blow 13017ms infinite;
  animation-delay: 1647ms;
}
.bottom-particles .bubble:nth-child(183) {
  left: 42%;
  animation: blow 6583ms infinite;
  animation-delay: 11380ms;
}
.bottom-particles .bubble:nth-child(184) {
  left: 2%;
  animation: blow 5000ms infinite;
  animation-delay: 6724ms;
}
.bottom-particles .bubble:nth-child(185) {
  left: 54%;
  animation: blow 12700ms infinite;
  animation-delay: 1729ms;
}
.bottom-particles .bubble:nth-child(186) {
  left: 38%;
  animation: blow 5766ms infinite;
  animation-delay: 5330ms;
}
.bottom-particles .bubble:nth-child(187) {
  left: 21%;
  animation: blow 5000ms infinite;
  animation-delay: 4333ms;
}
.bottom-particles .bubble:nth-child(188) {
  left: 26%;
  animation: blow 13492ms infinite;
  animation-delay: 3275ms;
}
.bottom-particles .bubble:nth-child(189) {
  left: 9%;
  animation: blow 5000ms infinite;
  animation-delay: 1345ms;
}
.bottom-particles .bubble:nth-child(190) {
  left: 9%;
  animation: blow 5334ms infinite;
  animation-delay: 283ms;
}
.bottom-particles .bubble:nth-child(191) {
  left: 15%;
  animation: blow 10285ms infinite;
  animation-delay: 8584ms;
}
.bottom-particles .bubble:nth-child(192) {
  left: 89%;
  animation: blow 5000ms infinite;
  animation-delay: 8730ms;
}
.bottom-particles .bubble:nth-child(193) {
  left: 6%;
  animation: blow 5000ms infinite;
  animation-delay: 2903ms;
}
.bottom-particles .bubble:nth-child(194) {
  left: 5%;
  animation: blow 5000ms infinite;
  animation-delay: 11630ms;
}
.bottom-particles .bubble:nth-child(195) {
  left: 22%;
  animation: blow 5000ms infinite;
  animation-delay: 6229ms;
}
.bottom-particles .bubble:nth-child(196) {
  left: 99%;
  animation: blow 10398ms infinite;
  animation-delay: 5505ms;
}
.bottom-particles .bubble:nth-child(197) {
  left: 11%;
  animation: blow 6946ms infinite;
  animation-delay: 4307ms;
}
.bottom-particles .bubble:nth-child(198) {
  left: 15%;
  animation: blow 5000ms infinite;
  animation-delay: 7492ms;
}
.bottom-particles .bubble:nth-child(199) {
  left: 44%;
  animation: blow 10748ms infinite;
  animation-delay: 3361ms;
}
.bottom-particles .bubble:nth-child(200) {
  left: 13%;
  animation: blow 10517ms infinite;
  animation-delay: 1018ms;
}
@keyframes blow {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, -100vh) scale(0.2);
  }
}
